@using HostingEnvironmentExtensions = Microsoft.AspNetCore.Hosting.HostingEnvironmentExtensions
<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хлебзавод «Хлебушек»</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="/css/styleO.css?v=12353">
</head>
<body>


<!-- Header -->
<header class="header">
    <nav class="nav">
        <img src="/images/1.png" class="logo">
        <a href="" class="nav_logo">«Хлебушек»</a>
        <button id="logout" onclick="window.location.href = '/logout'" >Выход</button>
    </nav>
</header>
<script type="text/javascript" src="/js/scripts.js"></script>
<div class="margintop"></div>

<main>
    <aside id="left"></aside>
    <article>
        @foreach (string country in ViewBag.Countries)
        {
            <p>@country</p>
        }

    </article>
    <aside id="right"></aside>
</main>

<footer>
    <p>© ОАО «Хлебушек», 2024</p>
</footer>
<a href='#' class="stt"></a>
<link rel="stylesheet" type="text/css" href="/css/styleOf.css?v=126">

</body>

</html>