<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хлебзавод «Хлебушек»</title>
    <link href="@Url.Content("~/css/styleP.css?1")" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


</head>

<body>
    <!-- Header -->
    <header class="header">
        <nav class="nav">
            <img src="~/images/1.png" class="logo">
            <a href="/" class="nav_logo">«Хлебушек»</a>
            <button id="logout" onclick="window.location.href = '/'" >Выход</button>
        </nav>
    </header>
    <script src="~/js/scripts.js"></script>
    <div class="margintop"></div>

    <main>
        <aside id="left"></aside>
        <article>
            <h1 class="h1">НАША ПРОДУКЦИЯ</h1>
            <div class="products">
                <img src="/images/products/bread (1).jpg">
                <h2 class="h2">ХЛЕБ "НОРМАНДИЯ"</h2>
                <p class="p">Французский рецепт медленного созревания в течение 16 часов с закваской.</p>
                <img src="/images/products/bread (2).jpg">
                <h2 class="h2">ХЛЕБ "БАВАРИЯ"</h2>
                <p class="p">Немецкий заквасочный хлеб с двумя видами муки. Легкая структура с особым вкусом медленного созревания.</p>
                <img src="/images/products/bread (3).jpg">
                <h2 class="h2">ХЛЕБ НА ЗАКВАСКЕ</h2>
                <p class="p">Хлеб с хрустящей коркой, который сочетает в себе насыщенный аромат и вкус традиционного заквасочного теста.</p>
                <img src="/images/products/bread (4).jpg">
                <h2 class="h2">ХЛЕБ С ОВСЯНКОЙ</h2>
                <p class="p">Мука Динкель и овсяные хлопья,замачивающиеся в теплой воде в течение 6 часов.</p>
                <img src="/images/products/bread (5).jpg">
                <h2 class="h2">ХЛЕБ ПШЕНИЧНЫЙ</h2>
                <p class="p">Все питательные вещества, содержащиеся в муке из диккоковой пшеницы, в одном хлебе. Вкусный с очень высоким показателем антиоксидантов.</p>
                <img src="/images/products/bread (6).jpg">
                <h2 class="h2">ХЛЕБ МОНАСТЫРСКИЙ</h2>
                <p class="p">Когда простота монастырской выпечки встречается с свежеизмолотой традиционной мукой из каменной мельницы, аромат и вкус чередуются в исключительно сбалансированный вкусовой результат.</p>
            </div>
        </article>
        <aside id="right"></aside>
    </main>
    <footer>
        <p>© ОАО «Хлебушек», 2024</p>
    </footer>
    <a href='#' class="stt"></a>
</body>

</html>